@font-face {
    font-family: "iconfont"; /* Project id 3583613 */
    src: url('//at.alicdn.com/t/c/font_3583613_skr6x0mwwge.woff2?t=1660225027697') format('woff2'),
    url('//at.alicdn.com/t/c/font_3583613_skr6x0mwwge.woff?t=1660225027697') format('woff'),
    url('//at.alicdn.com/t/c/font_3583613_skr6x0mwwge.ttf?t=1660225027697') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-GitHub:before {
    content: "\ea0a";
}

.icon-shejiaotubiao-03:before {
    content: "\e641";
}

.icon-weixin:before {
    content: "\e607";
}